@use '../abstracts/variables' as vars;


@mixin transition($property) {
  transition: $property vars.$transition;
}
  
  @mixin center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  