// Variables para colores
$primary-color: #179fcd;
$secondary-color: #6c757d;
$light-color: #fafafa;
$dark-color: #00BFFF;

// Fuentes
$font-primary: 'Arial', Helvetica, sans-serif;
$font-secondary: 'Cambria', 'Cochin', Georgia, 'Times New Roman', serif;

// Otros
$transition-speed: 0.3s;
$font-size-large: large;
$font-size-small: small;

$transition: 0.3s ease;
